html{
    font-size: 10px;
    font-family:"Open sans", sans-serif;
    background-color: #EE66A6;
}
body{
    width: 1200px;
    margin: 0 auto;
    background-color: #EE66A6;
    padding: 0 20px 20px 20px 20px;
    border: 5px solid black;
}
h1{
    font-size: 40px;
    text-align : center;
    color: #640D5F;
}
p,
h3{
    font-size: 26px;
    line-height: 2;
    letter-spacing: 1px;
    color: #640D5F;
}
a{
    color: #FFEB55;
}
#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}