html{
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    background-color: #7fffd4;
}
body{
    padding: 0 25px 25px 25px;
    border: 5px solid black;
    margin: 25px 25px 25px 25px;
    background-color: #7fccd4;
    letter-spacing: auto;
    line-height: auto;
}
h1{
    font-size: 35px;
    font-weight: 400;
}
p,
h3{
    font-size: 25px;
    font-weight: 300;
}
div{
    text-align: center;
}
